In [0]:
import pandas as pd
dataset = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')
dataset

      order_id  ...  item_price
0            1  ...      $2.39
1            1  ...      $3.39
2            1  ...      $3.39
3            1  ...      $2.39
4            2  ...     $16.98
...        ...  ...         ...
4617      1833  ...     $11.75
4618      1833  ...     $11.75
4619      1834  ...     $11.25
4620      1834  ...      $8.75
4621      1834  ...      $8.75

[4622 rows x 5 columns]

In [0]:
#What is the number of observations in the dataset?
dataset.shape

(4622, 5)

In [0]:
#What is the number of columns in the dataset?
dataset.shape[1]

5

In [0]:
#Print the name of all the columns.
dataset.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [0]:
#How is the dataset indexed?
dataset.index

RangeIndex(start=0, stop=4622, step=1)

In [0]:
#Which was the most ordered item?
groupby_dataset = (dataset.groupby(['item_name'])['quantity'].agg(['sum']).sort_values(by='sum', ascending=False).reset_index().drop_duplicates('item_name', keep='first'))
df = groupby_dataset.head(1)
df

      item_name  sum
0  Chicken Bowl  761

In [0]:
#For the most-ordered item, how many items were ordered?
df.iloc[:, 1]

0    761
Name: sum, dtype: int64

In [0]:
#What was the most ordered item in the choice_description column? 
dataset.groupby(['choice_description']).sum().sort_values(['quantity'], ascending = False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [0]:
#How many items were ordered in total?
dataset['quantity'].sum()

4972

In [0]:
#Check the item price type
dataset['item_price'].dtype

dtype('O')

In [0]:
#Create a lambda function and change the type of item price
dataset['item_price'] = dataset['item_price'].apply(lambda x : float(x[1:-1]))

In [0]:
#Check the item price type
dataset['item_price'].dtype

dtype('float64')

In [0]:
#How much was the revenue for the period in the dataset?
dataset['item_price'].sum()

34500.16

In [0]:
#How many orders were made in the period
len(dataset['order_id'].unique())

1834

In [0]:
#What is the average revenue amount per order?
dataset['revenue'] = dataset['quantity'] * dataset['item_price']
order_grouped = dataset.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.39423118865867

In [0]:
#How many different items are sold?
dataset['item_name'].value_counts().count()

50